body > table{
    width: 100%;
	border: 10px solid #ccc;
}

table{
    border-collapse: initial;
	border: 10px solid #ccc;
	 vertical-align: top;
	 	font-family:Verdana;
	font-size:15px;
	
}
table.list{
    width:80%;
	
	
	
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	
	
}
tr:nth-child(even),table.list thead>tr {
    background-color: #C8BDBD;
	 padding-top: length;	
	 
	 
	

}

input[type=text], input[type=number] {
    width: 100%;
    padding: 6px 5px;
    margin: 8px 20;
   
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


}

input[type=submit]{
    width: 2	0%;
    background-color: #C8BDBD;
    color: #000;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 14px;
    cursor: pointer;
	
}

form div.form-action-buttons{
    text-align: right;
	
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 25px;

}

.hide{
    display:none;
}